<div id="popup" style="background-color: {$couleurPopup};">
  <span id="popup-close" onclick="hideDisplayedBlockElement('popup')"><a href="#">x</a></span>
  <p id="popup-corps">{$corpsPopup}</p>
</div>
</body>
</html>
