footer {
  background-color: #606060;
  text-align: center;
  padding: 10px 0;
  border-top: 1px black solid;
  color: #f2f2f2;
}

#footer-resultat {
  font-size: 0.55em;
  font-variant: small-caps;
  font-style: italic;
}
