@font-face {
  font-family: Afta;
  src: url(fonts/afta-regular.otf);
}
@font-face {
  font-family: Afta;
  src: url(fonts/afta-italic.otf);
  font-style: italic;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-tip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltip-tip {
    visibility: visible;
    opacity: 1;
}

p {
  word-wrap: break-word;
  word-break: keep-all;
}
a, a:hover {
  text-decoration: none;
}
.main-article {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px black solid;
  margin: 0;
  background-color: #e6e6e6;
}

.main-article-title {}

.form {
  overflow: hidden;
}

.form-fieldset {
  background-color: #ededed;
}

.form-span {
  float: left;
  width: 40%;
  min-width: 175px;
  text-align: left;
}

.form-input {
  width: 30%;
  min-width: 160px;
}

.table
{
  margin-bottom: 20px;
  margin-bottom: 20px;
  border: 2px solid #e2e2e2;
  border-spacing: 0;
  border-radius: 6px;
  background-color: #f2f2f2;
  width: 100%;
}

.table-th
{
  font-size: 15px;
  font-weight: bold;
  background-color: #f4f4f4;
  color: #ec1313;
  height: 17px;
  padding: 5px 10px;
  text-align: left;
}

.table-tbody .table-tr:last-child .table-td:first-child
{
  border-radius: 0 0 0 5px;
}

.table-tr:last-child .table-td:last-child
{
  border-radius: 0 0 5px 0;
}

.table-td
{
  background-color : #f2f2f2;
  border: 1px solid #e2e2e2;
  border-width : 1px 0 0 0;
  padding: 5px 10px;
}

.table-tr .table-th:last-child
{
  border-radius: 0px 5px 0 0;
}

.table-tr .table-th:first-child
{
  border-radius: 5px 0px 0 0;
}

.table-tr:hover {background-color: #ededed;}
