body {
  margin: auto;
  font-family: 'Roboto', "Palatino Linotype", "Book Antiqua", Palatino, sans-serif;
  background-color: #707070;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23424242' fill-opacity='0.45' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 52px;
  background-color: #999999;
  padding-right: 32px;
  z-index: 1000;
  border-bottom: 1px black solid;
}
#nav-links-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav-link-logo {
  float: left;
}
.nav-link-item {
  float: right;
}
.nav-link {
  display: block;
  padding: 10px;
}
/*.nav-link:hover:not(#nav-link-logo) {
  background-color: white;
}*/
.nav-icon {
  display: block;
  height: 32px;
  width: 32px;
}
#nav-icon-logo { background-image: url("img/icon-logo.png"); }
#nav-icon-new { background-image: url("img/icon-new.png"); }
#nav-icon-users { background-image: url("img/icon-users.png"); }
#nav-icon-tt { background-image: url("img/icon-tt.png"); }
#nav-icon-stats { background-image: url("img/icon-stats.png"); }
#nav-icon-account { background-image: url("img/icon-account.png"); }
#nav-icon-vehicles { background-image: url("img/icon-vehicles.png"); }
#nav-icon-list { background-image: url("img/icon-list.png"); }
#nav-icon-logout { background-image: url("img/icon-logout.png"); }
#nav-icon-login { background-image: url("img/icon-login.png"); }
#body {
  width: 70%;
  margin: auto;
  border-left: 4px solid #4d4d4d;
  border-right: 4px solid #4d4d4d;
  border-bottom: 4px solid #4d4d4d;
}
