header {
  background-color: #ffffff;
  text-align: center;
  padding-top: 1px;
  border-bottom: 4px solid #4d4d4d;
  background: url('img/header-background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 360px;
  background-position: 50% 100%;
}
#header-title
{
	font-size: 100px;
	line-height: 40px;
	color: white;
}
#header-catch-phrase {
	color: white;
	}
#header-submit-button {
  background-color: #f44336;
  border: 2px solid #f44336;
  border-radius: 8px;
  color: white;
  padding: 16px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-bottom: 20px;
}
#header-submit-button:hover {
  background-color: white;
  color: black;
}
#header-submit-button-span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#header-submit-button-span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#header-submit-button:hover #header-submit-button-span {
  padding-right: 25px;
}
#header-submit-button:hover #header-submit-button-span:after {
  opacity: 1;
  right: 0;
}
