#popup {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  right: 0;
  width: 220px;
  height: 180px;
  display: block;
  border: 4px #d9d9d9 solid;
  border-radius: 5px;
  margin: 30px;
}

#popup-close {
  display: block;
  text-align: right;
  padding-right: 15px;
}

#popup-corps {
  text-align: center;
  padding: 20px;
  margin: auto;
}
