<article class="main-article">
  <h1>Gestion de vos véhicules</h1>

  <div id="account-vehicles-new">
    <form class="form" action="account.php?t=vehicles" method="post">
      <fieldset class="form-fieldset">
        <span class="form-span">* Marque :</span>
          <input class="form-input" type="text" name="marque" required>
        <span class="form-span">* Modèle :</span>
          <input class="form-input" type="text" name="modele" required>
        <span class="form-span">Année :</span>
          <input class="form-input" type="number" min="1900" max="3000" name="annee">
        <span class="form-span">Consommation aux 100 km :</span>
          <input class="form-input" type="number" min="0" max="1000" name="consommation">
        <span class="form-span">* Nombre de places passagers :</span>
          <input class="form-input" type="number" min="1" max="200" name="nbrPlacesPassagers" required><br>
      </fieldset>
      <input type="submit" value="Ajouter ce véhicule">
    </form>
  </div>

  <div id="account-vehicles-list">
    <form action="account.php?t=vehicles" method="post">
      <table class="table">
        <tr class="table-tr">
          <th class="table-th">Marque</th>
          <th class="table-th">Modèle</th>
          <th class="table-th">Année</th>
          <th class="table-th">Consommation</th>
          <th class="table-th">Nombre de places passagers</th>
          <th class="table-th">Supprimer ?</th>
        </tr>
        {foreach $vehicules as $vehicule}
        <tr class="table-tr">
          <td class="table-td">{$vehicule->getMarque()}</td>
          <td class="table-td">{$vehicule->getModele()}</td>
          <td class="table-td">{$vehicule->getAnnee()}</td>
          <td class="table-td">{$vehicule->getConsommation()}</td>
          <td class="table-td">{$vehicule->getNbrPlacesPassagers()}</td>
          <td class="table-td"><input type="checkbox" name="drop-vehicule[]" value="{$vehicule->getIdVehicule()}"></td>
        </tr>
        {/foreach}
      </table>
      <input type="submit" value="Supprimer ce(s) véhicule(s)">
    </form>
  </div>
</article>
