<article class="main-article">
  <h1>Liste des trajets auxquels vous participez</h1>

  <table class="table">
    <tr class="table-tr">
      <th class="table-th">Date</th>
      <th class="table-th">Heure</th>
      <th class="table-th">Départ</th>
      <th class="table-th">Arrivée</th>
      <th class="table-th">Prix</th>
    </tr>
    {foreach $estConducteurDans as $trajetConduit}
    <tr class="table-tr" onclick="window.location.href='trip.php?t={$trajetConduit->getIdTrajetDisponible()}'">
      <td>{$trajetConduit->getDateTrajet("d-m-Y")}</td>
      <td>{$trajetConduit->getDateTrajet("H-i")}</td>
      <td>{$trajetConduit->getVilleDepart()->getVille()}</td>
      <td>{$trajetConduit->getVilleArrivee()->getVille()}</td>
      <td>{$trajetConduit->getPrix()}</td>
    </tr>
    {/foreach}
  </table>
</article>
