<article class="main-article">

  <h1>Modifier vos informations personnelles</h1>

  <form class="form" action="account.php?t=infos" method="post">

    <fieldset class="form-fieldset">
      <legend>A propos de vous</legend>
      <span class="form-span">* Prénom :</span>
        <input class="form-input" type="text" name="prenom" maxlength="50" required value="{$ancienPrenom}">
      <span class="form-span">* Nom :</span>
        <input class="form-input" type="text" name="nom" maxlength="50" required value="{$ancienNom}">
      <span class="form-span">* Date de naissance :
        <span class="tooltip">?<span class="tooltip-tip">Vous devez avoir au moins 18 ans pour vous inscrire sur le site.</span></span></span>
        <input class="form-input" type="date" name="naissance" min="1900-01-01" max="{$dateMinus18}" required value="{$ancienNaissance}">
      <span class="form-span">Téléphone :</span>
        <input class="form-input" type="tel" name="tel" value="{$ancienTel}">
    </fieldset>
    <fieldset class="form-fieldset">
      <legend>Adresse</legend>
      <span class="form-span">N° voie :</span>
        <input class="form-input" type="text" name="num-voie" maxlength="10" value="{$ancienNumVoie}">
      <span class="form-span">Nom voie :</span>
        <input class="form-input" type="text" name="nom-voie" maxlength="200" value="{$ancienNomVoie}">
      <span class="form-span">Complément :</span>
        <input class="form-input" type="text" name="complement" maxlength="500" value="{$ancienComplement}">
      <span class="form-span">Code Postal :</span>
        <input class="form-input" type="text" name="cp" maxlength="10" value="{$ancienCP}">
      <span class="form-span">* Ville :</span>
        <input class="form-input" type="text" name="ville" maxlength="70" required value="{$ancienVille}">
    </fieldset>
    <fieldset class="form-fieldset">
      <legend>Identifiants</legend>
      <span class="form-span">* Mail :</span>
        <input class="form-input" type="email" name="mail" maxlength="50" disabled value="{$ancienMail}">
      <span class="form-span">* Mot de passe :
        <span class="tooltip">?<span class="tooltip-tip">Votre mot de passe ne doit pas faire plus de 128 caractères.</span></span></span>
        <input class="form-input" type="password" name="pwd" maxlength="128" autocomplete="off">
      <span class="form-span">* Mot de passe :
        <span class="tooltip">?<span class="tooltip-tip">Veuillez réécrire votre mot de passe par sécurité.</span></span></span>
        <input class="form-input" type="password" name="pwd-check" maxlength="128" autocomplete="off">
    </fieldset>
    <input type="submit" value="Valider">

  </form>

</article>
