<article class="main-article">
  <h1>Statistiques du site</h1>

  <table class="table">
  	<tr class="table-tr">
  		<th class="table-th" colspan="2">Statistiques</th>
    </tr>
    <tr class="table-tr">
      <td class="table-td">Nombre de visiteurs en ce moment</td>
      <td class="table-td">{$nbrVisiteurs}</td>
    </tr>
    <tr class="table-tr">
      <td class="table-td">Nombre total de membres</td>
      <td class="table-td">{$nbrMembres}</td>
    </tr>
    <tr class="table-tr">
      <td class="table-td">Distance totale parcourue</td>
      <td class="table-td">{$distanceParcourue}</td>
    </tr>
    <tr class="table-tr">
      <td class="table-td">Distance totale économisée</td>
      <td class="table-td">{$distanceEconomisee}</td>
    </tr>
    <tr class="table-tr">
      <td class="table-td">Nombre de trajets types</td>
      <td class="table-td">{$nbrTT}</td>
    </tr>
    <tr class="table-tr">
      <td class="table-td">Nombre total de trajets</td>
      <td class="table-td">{$nbrTD}</td>
    </tr>
    <tr class="table-tr">
      <td class="table-td">Nombre total de trajets disponibles</td>
      <td class="table-td">{$nbrTDDispos}</td>
    </tr>
    <tr class="table-tr">
      <td class="table-td">Nombre total de trajets effectués</td>
      <td class="table-td">{$nbrTDEffectues}</td>
    </tr>
  </table>
</article>
