<article class="main-article">
  <h1>Gérer les utilisateurs</h1>

  <form action="admin.php?t=users&change" method="post">
    <table class="table">
      <tr class="table-tr">
        <th class="table-th">Identifiant</th>
        <th class="table-th">Inscris le</th>
        <th class="table-th">Dernière connexion le</th>
        <th class="table-th">Administrateur ?</th>
        <th class="table-th">Banni ?</th>
      </tr>
      {foreach $membres as $membre}
        <tr class="table-tr">
          <td class="table-td">
            {$membre->getMail()}
          </td>
          <td class="table-td">
            {$membre->getDateInscription("d/m/Y")}
          </td>
          <td class="table-td">
            {$membre->getDerniereConnexion("d/m/Y H:i")}
          </td>
          <td class="table-td">
            {if $membre->getRole() != Visiteur::ROLE_ADMIN}
            <input type="checkbox" name="promouvoir[]" value="{$membre->getIdMembre()}">
            {else}
            <input type="checkbox" name="promouvoir[]" value="{$membre->getIdMembre()}" checked>
            {/if}
          </td>
          <td class="table-td">
            {if $membre->estBanni() == NULL}
            <input type="checkbox" name="bannir[]" value="{$membre->getIdMembre()}">
            {else}
            <input type="checkbox" name="bannir[]" value="{$membre->getIdMembre()}" checked>
            {/if}
          </td>
        </tr>
        <input type="hidden" name="{$membre->getIdMembre()}-estDejaAdmin" value="{$membre->getRole()}">
        <input type="hidden" name="{$membre->getIdMembre()}-estDejaBanni" value="{$membre->estBanni()}">
      {/foreach}
    </table><br>
    <input type="submit" value="Appliquer">
  </form>
</article>
