<article class="main-article">
  <h1>Gérer les trajets types</h1>

  <!-- Analyser les trajets disponibles à la recherche de potentiels trajets types -->
  <div id="admin-tt-look-for-tt">
    <h2>Analyser les trajets disponibles</h2>
    <a href="admin.php?t=tt&analyse"><button>Lancer l'analyse</button></a>
    {if $afficheAnalyse}
    <table class="table">
      <tr class="table-tr">
        <th class="table-th">Départ</th>
        <th class="table-th">Arrivée</th>
        <th class="table-th">Nombre de trajets enregistrés</th>
      </tr>
      {foreach $resultatsAnalyse as $resultatAnalyse}
      <tr class="table-tr">
        <td class="table-td">{$resultatAnalyse['ville_depart']}</td>
        <td class="table-td">{$resultatAnalyse['ville_arrivee']}</td>
        <td class="table-td">{$resultatAnalyse['compte']}</td>
      </tr>
      {/foreach}
    </table>
    {/if}
  </div>

  <!-- Formulaire d'ajout d'un trajet type -->
  <div id="admin-tt-add-tt">
    <h2>Ajouter un trajet type</h2>
    <form class="form" action="admin.php?t=tt" method="post">
      <span class="form-span">* Ville de départ :</span>
        <input class="form-input" type="text" name="villeDepart" maxlength="70" required>
      <span class="form-span">* Ville d'arrivée :</span>
        <input class="form-input" type="text" name="villeArrivee" maxlength="70" required>
      <span class="form-span">* Distance indicative :</span>
        <input class="form-input" type="number" name="distance" min="1" max="1000" required>
      <span class="form-span">* Durée indicatif :</span>
        <input class="form-input" type="time" name="temps" required>
      <span class="form-span">* Prix au km :</span>
        <input class="form-input" type="number" name="prixKm" min="0" max="10" required><br>
      <input type="submit" value="Créer le trajet">
    </form>
  </div>

  <!-- Liste des trajets types -->
  <div id="admin-tt-list">
    <h2>Liste des trajets types</h2>
    <form class="form" action="admin.php?t=tt&delete" method="post">
      <table class="table">
        <tr class="table-tr">
          <th class="table-th">Départ</th>
          <th class="table-th">Arrivée</th>
          <th class="table-th">Distance</th>
          <th class="table-th">Durée</th>
          <th class="table-th">Prix au km</th>
          <th class="table-th">Supprimer ?</th>
        </tr>
        {foreach $trajetsTypes as $trajetType}
        <tr class="table-tr">
          <td class="table-td">{$trajetType->getVilleDepart()}</td>
          <td class="table-td">{$trajetType->getVilleArrivee()}</td>
          <td class="table-td">{$trajetType->getDistance()}</td>
          <td class="table-td">{$trajetType->getTempsIndicatif()}</td>
          <td class="table-td">{$trajetType->getPlafondPrixKm()}</td>
          <td class="table-td">
            <input type="checkbox" name="supprimer[]" value="{$trajetType->getIdTrajetType()}">
          </td>
        </tr>
        {/foreach}
      </table><br>
      <input type="submit" value="Appliquer">
    </form>
  </div>

</article>
