<!-- Bandeau de présentation -->
<header>
  <h1 id="header-title">Vitoco</h1>
  <h3 id="header-catch-phrase">Déjà {$distanceEconomisee} km économisés !</h3>
  <a href="submit.php">
    <button id="header-submit-button">
      <span id="header-submit-button-span">
        Soumettre votre trajet </span></button></a>
</header>

<!-- Liste et recherche de trajets -->
<article class="main-article">
  <h1>Rechercher un trajet</h1>
  <form class="form" action="index.php" method="post">
    <fieldset class="form-fieldset">
      <legend>Critères de recherche</legend>
      <span class="form-span">Le :</span>
        <input class="form-input" type="date" name="date" value="{$dateJour}" min="{$dateJour}">
      <span class="form-span">Depuis :</span>
        {if $visiteur->estConnecte()}
        <input class="form-input" type="text" name="villedep" value="{$ville}" maxlength="70">
        {else}
        <input class="form-input" type="text" name="villedep" maxlength="70">
        {/if}
      <span class="form-span">Vers :</span>
        <input class="form-input" type="text" name="villearr" maxlength="70">
      <span class="form-span">Prix maximum :</span>
        <input class="form-input" type="number" name="prix" min="0" max="100000">
      </fieldset><br>
      <input type="submit" value="Rechercher">
  </form>
</article>

<article class="main-article">
  <table class="table">
    <tr class="table-tr">
      <th class="table-th">Jour</th>
      <th class="table-th">Heure</th>
      <th class="table-th">Ville de départ</th>
      <th class="table-th">Ville d'arrivée</th>
      <th class="table-th">Prix</th>
      <th class="table-th">Utilisateur</th>
    </tr>
    {foreach $trajetsDisponibles as $trajetDisponible}
      {if $visiteur->estConnecte()}
      <tr class="table-tr" onclick="window.location.href='trip.php?t={$trajetDisponible->getIdTrajetDisponible()}';">
      {else}
      <tr class="table-tr">
      {/if}
        <td class="table-td">{$trajetDisponible->getDateTrajet()->format("d-m-Y")}</td>
        <td class="table-td">{$trajetDisponible->getDateTrajet()->format("H:i")}</td>
        <td class="table-td">{$trajetDisponible->getVilleDepart()->getVille()}</td>
        <td class="table-td">{$trajetDisponible->getVilleArrivee()->getVille()}</td>
        <td class="table-td">{$trajetDisponible->getPrixKm()*{$trajetDisponible->getDistance()}}</td>
          {if $visiteur->estConnecte()}
        <td class="table-td">{$membreManager->getMembre(["idMembre", DB::EGAL, $trajetDisponible->getConducteur()])->getNomAffiche($visiteur)}</td>
          {else}
        <td class="table-td">{$membreManager->getMembre(["idMembre", DB::EGAL, $trajetDisponible->getConducteur()])->getPrenom()}</td>
          {/if}
      </tr>
    {/foreach}
  </table>
</article>
