<article class="main-article">

  <!-- Formulaire de connexion -->
  <div id="login">
    <form class="form" action="login.php" method="post" autocomplete="on">
      <fieldset>
        <legend>Connectez-vous</legend>
        <span class="form-span">* Mail :</span>
          <input class="form-input" type="email" name="mail" maxlength="50" autofocus required>
        <span class="form-span">* Mot de passe :
          <span class="tooltip">?<span class="tooltip-tip">Rappel : Votre mot de passe ne fait pas plus de 128 caractères.</span></span></span>
          <input class="form-input" type="password" name="pwd" maxlength="128" required><br>
        <input type="submit" value="Se connecter">
        <input type="reset" value="Effacer">
      </fieldset>
    </form>
  </div>

  <!-- Le formulaire d'inscription n'apparaît que en cliquant sur Inscrivez-vous -->
  <div id="hide-login">
    <p>
      Pas de compte ? <span onclick="showUndisplayedBlockElement('register');showUndisplayedBlockElement('hide-register');hideDisplayedBlockElement('login');hideDisplayedBlockElement('hide-login');" class="tooltip"><a href="#">Inscrivez-vous !</a>
        <span class="tooltip-tip">Cliquez pour afficher le formulaire.</span></span>
    </p>
  </div>
  <div id="hide-register">
    <p>
      Si vous avez déjà un compte,  <span onclick="showUndisplayedBlockElement('login');showUndisplayedBlockElement('hide-login');hideDisplayedBlockElement('register');hideDisplayedBlockElement('hide-register');" class="tooltip"><a href="#">connectez-vous !</a>
        <span class="tooltip-tip">Cliquez pour afficher le formulaire.</span></span>
    </p>
  </div>

  <!-- Formulaire d'inscription -->
  <div id="register">
    <form id="register-form" action="login.php" method="post">
      <fieldset>
        <legend>A propos de vous</legend>
        <span class="form-span">* Prénom :</span>
          <input class="form-input" type="text" name="prenom" maxlength="50" required>
        <span class="form-span">* Nom :</span>
          <input class="form-input" type="text" name="nom" maxlength="50" required>
        <span class="form-span">* Date de naissance :
          <span class="tooltip">?<span class="tooltip-tip">Vous devez avoir au moins 18 ans pour vous inscrire sur le site.</span></span></span>
          <input class="form-input" type="date" name="naissance" min="1900-01-01" max="{$dateMinus18}" required>
        <span class="form-span">Téléphone :</span>
          <input class="form-input" type="tel" name="tel">
      </fieldset>
      <fieldset>
        <legend>Adresse</legend>
        <span class="form-span">N° voie :</span>
          <input class="form-input" type="text" name="num-voie" maxlength="10">
        <span class="form-span">Nom voie :</span>
          <input class="form-input" type="text" name="nom-voie" maxlength="200">
        <span class="form-span">Complément :</span>
          <input class="form-input" type="text" name="complement" maxlength="500">
        <span class="form-span">Code Postal :</span>
          <input class="form-input" type="text" name="cp" maxlength="10">
        <span class="form-span">* Ville :</span>
          <input class="form-input" type="text" name="ville" maxlength="70" required>
      </fieldset>
      <fieldset>
        <legend>Identifiants</legend>
        <span class="form-span">* Mail :</span>
          <input class="form-input" type="email" name="mail" maxlength="50" required>
        <span class="form-span">* Mot de passe :
          <span class="tooltip">?<span class="tooltip-tip">Votre mot de passe ne doit pas faire plus de 128 caractères.</span></span></span>
          <input class="form-input" type="password" name="pwd" maxlength="128" required>
        <span class="form-span">* Mot de passe :
          <span class="tooltip">?<span class="tooltip-tip">Veuillez réécrire votre mot de passe par sécurité.</span></span></span>
          <input class="form-input" type="password" name="pwd-check" maxlength="128" required>
      </fieldset>
      <input type="submit" value="S'inscrire">
    </form>
  </div>

</article>
