<article class="main-article">

  <h1>Créer un nouveau trajet</h1>

  <!-- Formulaire de création d'un trajet -->
  <div id="submit">
    <form class="form" id="submit-form" action="submit.php" method="post" autocomplete="off" oninput="prix.value=parseInt(submit-form-t1.value)*parseInt(submit-form-t2.value)">
      <fieldset class="form-fieldset">
        <legend>Adresse de départ</legend>
        <span class="form-span">N° voie :</span>
          <input class="form-input" type="text" name="depart-num-voie" maxlength="10">
        <span class="form-span">Nom voie :</span>
          <input class="form-input" type="text" name="depart-nom-voie" maxlength="200">
        <span class="form-span">Complément :</span>
          <input class="form-input" type="text" name="depart-complement" maxlength="500">
        <span class="form-span">Code Postal :</span>
          <input class="form-input" type="text" name="depart-cp" maxlength="10">
        <span class="form-span">* Ville :</span>
          {if $estTrajetCustom}
          <input class="form-input" type="text" name="depart-ville" maxlength="70" required>
          {else}
          <input class="form-input" type="text" name="depart-ville" value="{$villeDepart}" required readonly>
          {/if}
      </fieldset>

      <fieldset class="form-fieldset">
        <legend>Adresse d'arrivé</legend>
        <span class="form-span">N° voie :</span>
          <input class="form-input" type="text" name="arrive-num-voie" maxlength="10">
        <span class="form-span">Nom voie :</span>
          <input class="form-input" type="text" name="arrive-nom-voie" maxlength="200">
        <span class="form-span">Complément :</span>
          <input class="form-input" type="text" name="arrive-complement" maxlength="500">
        <span class="form-span">Code Postal :</span>
          <input class="form-input" type="text" name="arrive-cp" maxlength="10">
        <span class="form-span">* Ville :</span>
          {if $estTrajetCustom}
          <input class="form-input" type="text" name="arrive-ville" maxlength="70" required>
          {else}
          <input class="form-input" type="text" name="arrive-ville" value="{$villeArrivee}" required readonly>
          {/if}
      </fieldset>

      {if $estTrajetCustom}
      <script>var i = 1;</script>
      <p id="submit-catch-phrase"><a href="#"><span onclick="i=addAdditionalStepInSubmitting(i)">Ajouter une étape intermédiaire.</span></a></p>
      <div id="submit-additionals-steps">
        <!-- Fieldset d'étape intermédiaire ajouté au click. Voir misc.js -->
      </div>
      {/if}

      <fieldset class="form-fieldset">
        <legend>Trajet</legend>
        <span class="form-span">* Date et heure du trajet :</span>
          <input class="form-input" type="datetime-local" name="datetime" min="{$dateBonus1H}" max="{$dateBonus1Y}" required>

        <span class="form-span">* Distance approximative :</span>
          {if $estTrajetCustom}
          <input class="form-input" type="number" id="submit-form-t1" name="distance" min="1" max="10000" required>
          {else}
          <input class="form-input" type="number" id="submit-form-t1" name="distance" value="{$distance}" required>
          {/if}

        <span class="form-span">* Durée estimée :</span>
          {if $estTrajetCustom}
          <input class="form-input" type="number" name="temps" required>
          {else}
          <input class="form-input" type="number" name="temps" value="{$temps}" required>
          {/if}

        <span class="form-span">* Prix au kilomètre :</span>
          {if $estTrajetCustom}
          <input class="form-input" type="number" id="submit-form-t2" name="prix-km" min="0" max="10" required>
          {else}
          <input class="form-input" type="number" id="submit-form-t2" name="prix-km" min="0" max="{$plafondPrixKm}" value="{$plafondPrixKm}" required>
          {/if}

        <span class="form-span">Prix :
          <span class="tooltip">?<span class="tooltip-tip">Calculé comme la distance fois le prix au kilomètre.</span></span></span>
          <output name="prix" for="submit-form-t1 submit-form-t2"></output>
      </fieldset>

      <fieldset class="form-fieldset">
        <legend>Autres</legend>
        <span class="form-span">* Véhicule :
          <span class="tooltip">?<span class="tooltip-tip">Vous pouvez modifier vos véhicules dans vos paramètres de compte.</span></span></span>
          <select class="form-input" name="vehicule">
            <option value="{$premierVehicule->getIdVehicule()}" selected>
              {$premierVehicule->getMarque()} {$premierVehicule->getModele()} {$premierVehicule->getAnnee()}
            </option>
            {foreach $autresVehicules as $vehicule}
            <option value="{$vehicule->getIdVehicule()}">
              {$vehicule->getMarque()} {$vehicule->getModele()} {$vehicule->getAnnee()}
            </option>
            {/foreach}
          </select>
        <br>
        <span class="form-span">* Bagage autorisé :</span>
          <span class="form-input">
            <input type="radio" name="bagage" value="sans" required>Aucun
            <input type="radio" name="bagage" value="petit">Petit
            <input type="radio" name="bagage" value="moyen">Moyen
            <input type="radio" name="bagage" value="gros">Gros
            <input type="radio" name="bagage" value="tout">Tout
          </span>
        <br>
        <span class="form-span">* Les passagers sont autorisés à fumer dans la voiture :</span>
          <span class="form-input">
            <input type="radio" name="fumer" value="oui" required>Oui
            <input type="radio" name="fumer" value="non">Non
          </span>
        <br>
        <span class="form-span">* Les passagers sont autorisés à emporter un animal domestique :</span>
          <span class="form-input">
            <input type="radio" name="animal" value="oui" required>Oui
            <input type="radio" name="animal" value="non">Non
          </span>
        <br>
        <span class="form-span">Informations supplémentaires :</span>
          <textarea class="form-input" name="details" rows="5" cols="40"></textarea>
      </fieldset>

      <input type="submit" value="Soumettre le trajet">
    </form>
  </div>

</article>
