<article class="main-article">

  <h1>Créer un nouveau trajet</h1>

  <!-- Choix d'un tt ou d'un trajet personnalisé -->
  <div id="submit-selection">
    <form class="form" id="submit-selection-form" action="submit.php" method="post">
      <fieldset class="form-fieldset">
        <span class="form-span">Choisissez votre itinéraire :
          <span class="tooltip">?<span class="tooltip-tip">Choisir un itinéraire de la liste pré-remplira certaines informations du trajet et plafonnera le tarif.</span></span></span>
          <select class="form-input" name="tt">
            <option value="custom" selected>Personnaliser mon itinéraire</option>
            {foreach $trajetsTypes as $tt}
            <option value="{$tt->getIdTrajetType()}">{$tt->getVilleDepart()} -> {$tt->getVilleArrivee()}</option>
            {/foreach}
          </select><br>
        <input type="submit" value="Choisir cet itinéraire">
      </fieldset>
    </form>
  </div>

</article>
