<article class="main-article">
  <h1>{$villeDepart} -> {$villeArrivee}</h1>

  <div id="trajet-conducteur">
    <h3>Conducteur</h3>
    <p>{$conducteurPrenom} {$conducteurNom} - {$conducteurAge} ans</p>
    <p>Note moyenne : {$conducteurNote} / 5 (sur {$conducteurNbrNotes} évaluations)</p>
    <p><a href="user.php?u={$conducteurId}">Cliquez pour voir plus d'informations sur ce membre.</a></p>
  </div>

  <div id="trajet-vehicule">
    <h3>Véhicule</h3>
    <p>{$vehiculeMarque} {$vehiculeModele} {if (!empty($vehiculeAnnee))}{$vehiculeAnnee}{/if}</p>
    {if (!empty($vehiculeConsommation))}<p>{$vehiculeConsommation} L / 100 km</p>{/if}
  </div>

  <div id="trajet-details">
    <h3>Détails</h3>
    <p>Départ le {$dateDepart} à {$heureDepart}</p>
    <p>Estimation : {$dureeEstimee} minutes pour {$distanceEstimee} km</p>
    {if ($animalAutorise)}
      <p>Les animaux sont autorisés.</p>
    {else}
      <p>Les animaux ne sont pas autorisés.</p>
    {/if}
    {if ($fumerAutorise)}
      <p>Fumer dans l'enceinte du véhicule est autorisé.</p>
    {else}
      <p>Fumer dans l'enceinte du véhicule n'est pas autorisé.</p>
    {/if}
    <p>Vous pouvez emporter un bagage de taille {$tailleBagage}.</p>
  </div>

  <div id="trajet-etapes">
    <h3>Etapes</h3>
    <ul>
    {foreach $etapes as $etape}
      <li>
        <h4>{$etape->getVille()} {if (!empty($etape->getCP()))}({$etape->getCP()}){/if}</h4>
        <p>{if (!empty($etape->getNumeroVoie()))}{$etape->getNumeroVoie()}{/if}{if (!empty($etape->getNomVoie()))} {$etape->getNomVoie()}{/if}{if (!empty($etape->getComplement()))}, {$etape->getComplement()}{/if}
      </li>
    {/foreach}
    </ul>
  </div>

  <div id="trajet-messages">
    <h3>Messages</h3>
    <ul>
      {foreach $messages as $message}
        <li>
          <h4>de {$membreManager->getMembre(['idMembre', DB::EGAL, $message->getIdAuteur()])->getPrenom()} {$membreManager->getMembre(['idMembre', DB::EGAL, $message->getIdAuteur()])->getNom()}</h4>
          <p>{$message->getCorps()}</p>
        </li>
      {/foreach}
    </ul>
    <form class="form" action="trip.php?t={$trajetId}" method="post">
      <fieldset class="form-fieldset">
        <legend>Ajouter un message</legend>
        <textarea name="corps" rows="5" cols="30"></textarea><br>
        <input type="submit" value="Poster">
      </fieldset>
    </form>
  </div>

  {if $conducteurId != $visiteurId}
  <div id="trajet-inscription">
    <h3>Inscription</h3>
    {if $trajetTermine}
      <p>Ce trajet est terminé.</p>
    {else if $placesDisponibles}
      <a href="trip.php?t={$trajetId}&signin">
        <button>M'inscrire à ce trajet</button>
      </a>
    {else}
      <p>Ce trajet est complet, l'inscription n'est plus possible.</p>
    {/if}
  </div>
  {/if}

</article>
