<article class="main-article">

<div id="user-info">
  <div id="user-info-resume">
    <h2>{$nom} {$prenom} - {$age} ans</h2>
    <p> de {$ville}<br>
      Note moyenne : <mark>{$noteMoyenne}/10</mark> (sur <em>{$nombreEvaluations}</em> évaluations)<br>
      Membre depuis le <em>{$dateInscription}</em>.</p>
  </div>

  <div id="user-info-vehicles">
    <h3>Véhicules</h3>
    <ul>
      {foreach $vehicules as $vehicule}
      <li>{$vehicule->getMarque()} - {$vehicule->getModele()} - {$vehicule->getAnnee()}</li>
      {/foreach}
    </ul>
  </div>
</div>

<div id="user-evaluations">
  {foreach $appreciations as $appreciation}
  <div class="user-evaluations-item">
    <h4 class="user-evaluations-item-author">{$membreManager->getMembre(['idMembre', DB::EGAL, $appreciation->getIdAuteur()])->getNomAffiche()}</h4>
    <h4 class="user-evaluations-item-mark">{$membreManager->getMembre(['idMembre', DB::EGAL, $appreciation->getIdAuteur()])->getNote()}/10</h4>
    <p class="user-evaluation-item-content">{$membreManager->getMembre(['idMembre', DB::EGAL, $appreciation->getIdAuteur()])->getCorps()}</p>
  </div>
  {/foreach}
</div>

</article>
